﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int _currentCount;

    // ReSharper disable once UnusedMember.Local
    void IncrementCount()
    {
        _currentCount++;
    }
}
